/* line 4, ../sass/style.sass */
.data-wrapper,
.data-form {
  position: relative;
  width: 960px;
  margin: 0 auto;
  padding: 20px;
}

/* line 11, ../sass/style.sass */
.data-table {
  width: 100%;
  font-size: 1.2em;
  margin: 5px 0 10px;
  padding: 0;
}
/* line 18, ../sass/style.sass */
.data-table .t-head th {
  background-color: #b4ab8c;
  color: #fff;
  border: 1px solid #fff;
  padding: 10px;
}
/* line 25, ../sass/style.sass */
.data-table .t-body td {
  background-color: #fefefe;
  border-bottom: 1px solid #eceded;
  border-right: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
  border-top: 1px solid transparent;
  padding: 10px;
}
/* line 32, ../sass/style.sass */
.data-table .t-body tr {
  cursor: move;
}
/* line 35, ../sass/style.sass */
.data-table .t-body .draggable-item.over {
  border: 2px dashed #eceded;
}

/* line 39, ../sass/style.sass */
.add-btn {
  display: block;
  margin-bottom: 20px;
  padding: 10px;
  width: 200px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #B4AB8C;
  color: #fff;
  font-size: 1.4em;
  float: right;
}
/* line 52, ../sass/style.sass */
.add-btn:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}

/* line 55, ../sass/style.sass */
.submit-btn {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 150px;
  padding: 10px;
  font-size: 1.2em;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #B4AB8C;
  border: 0;
  margin-top: 10px;
  cursor: pointer;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
}
/* line 72, ../sass/style.sass */
.submit-btn:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}

/* line 75, ../sass/style.sass */
.close-btn {
  display: inline-block;
  margin-top: 10px;
  padding: 12px;
  width: 130px;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  text-decoration: none;
  background: #B4AB8C;
  color: #fff;
  font-size: 1.4em;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
}
/* line 89, ../sass/style.sass */
.close-btn:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}

/* line 95, ../sass/style.sass */
label {
  display: block;
  font-size: 2em;
  color: #B4AB8C;
}

/* line 100, ../sass/style.sass */
input {
  display: block;
  font-size: 1.6em;
  border: 1px solid #dedede;
  padding: 10px;
}

/* line 106, ../sass/style.sass */
.element-wrapper {
  padding: 10px 0;
}
